In [12]:
import scipy.stats
import matplotlib.pyplot as plt
import pandas as pd

# E4 : 2000 familles avec 4 garçons chacune

- (a) Combien peuvent s'attendre à avoir >= 1 garçon
- (b) = 2 garçons
- (c) <= 2 garçons
- (d) = 1 filles || = 2 filles
- (e) = 0 fomme

In [13]:
N = 2000
p = 0.5
n = 4

df = pd.DataFrame()

df['NB_GARCONS'] = range(0, n + 1)
df

   NB_GARCONS
0           0
1           1
2           2
3           3
4           4

In [14]:
df['PROBA'] = scipy.stats.binom.pmf(df['NB_GARCONS'], n, p)
df

   NB_GARCONS   PROBA
0           0  0.0625
1           1  0.2500
2           2  0.3750
3           3  0.2500
4           4  0.0625

In [18]:
df['NB_FAMILLES'] = (2000 * df['PROBA']).astype(int)
df

   NB_GARCONS   PROBA  NB_FAMILLES
0           0  0.0625          125
1           1  0.2500          500
2           2  0.3750          750
3           3  0.2500          500
4           4  0.0625          125

In [31]:
print(f"Au moins 1 garçon : {N - df.loc[df['NB_GARCONS'] == 0, 'NB_FAMILLES'].values[0]} familles")
print(f"Exactement 2 garçons : {df.loc[df['NB_GARCONS'] == 2, 'NB_FAMILLES'].values[0]} familles")
print(f"Au plus 2 garçons : {df.loc[df['NB_GARCONS'] <= 2, 'NB_FAMILLES'].sum()} familles")
print(f"Une ou deux filles : {df.loc[(df['NB_GARCONS'] == 2) | (df['NB_GARCONS'] == 1), 'NB_FAMILLES'].sum()} familles")
print(f"Aucune fille : {df.loc[df['NB_GARCONS'] == 4, 'NB_FAMILLES'].values[0]} familles")

Au moins 1 garçon : 1875 familles
Exactement 2 garçons : 750 familles
Au plus 2 garçons : 1375 familles
Une ou deux filles : 1250 familles
Aucune fille : 125 familles