# Population

In [40]:
import pandas as pd
import itertools
import numpy as np

df = pd.DataFrame()

df['pop'] = [2,3,6,8,11]

echantillons = list(itertools.combinations(df['pop'], 2))

df

   pop
0    2
1    3
2    6
3    8
4   11

# Moyenne de la population

In [41]:
mean_pop = df['pop'].mean()
mean_pop

np.float64(6.0)

# Ecart-Type de la population

In [42]:
deltas = df['pop'] - mean_pop

variance = np.dot(deltas, deltas) / len(df['pop'])
np.sqrt(variance)

np.float64(3.286335345030997)

# Echantillons

In [43]:
df_echantillons = pd.DataFrame(echantillons, columns=['valeur1', 'valeur2'])

df_echantillons['moyenne'] = df_echantillons.mean(axis=1)

df_echantillons

   valeur1  valeur2  moyenne
0        2        3      2.5
1        2        6      4.0
2        2        8      5.0
3        2       11      6.5
4        3        6      4.5
5        3        8      5.5
6        3       11      7.0
7        6        8      7.0
8        6       11      8.5
9        8       11      9.5

# Moyenne de la distribution des moyennes des échantillons

In [44]:
mean_echantillon = df_echantillons['moyenne'].mean()
mean_echantillon

np.float64(6.0)

# Ecart-Type de la distribution des moyennes des échantillons

In [48]:
df_echantillons['delta'] = df_echantillons['moyenne'] - mean_echantillon

variance_echantillon = np.dot(df_echantillons['delta'], df_echantillons['delta']) / len(df_echantillons['moyenne'])
np.sqrt(variance_echantillon)

np.float64(2.0124611797498106)